{
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "importOrder": [
    "^(^react$|@react|react|^recoil$)",
    "^@mui/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
